body{
    background-color: rgb(211, 207, 206);
}

.h1
{
    background-color: rgb(150, 146, 142); 
    text-decoration: underline; 
    font-size: 64px;
}

h2{text-decoration: underline;}

.contact{
    font-size: 32px;
}

.wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* font-size: 32px; */
    
  }

.wrapperback{
    background-color: rgba(99, 92, 89, .3);
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1000px;
}

 .myphoto{
    max-width: 350px;
    width: 100%;
    height: auto;
 } 

 .section{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
 }

 .header_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 200;
    width: 200px;
    
 }
 .nav_listheader{
     color: rgb(63, 59, 59);
     transition:all 0.2s ease-out ;
     text-decoration: none;
     font-size: 24px;
 }